body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    background-color: #009688;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #009688;
    font-size: 1.5em;
}

label {
    font-weight: bold;
    margin: 10px 0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: #adadad solid 0.1mm;
    border-radius: 3px;
    background-color: #f8f7f7;
    transition: all ease-in-out 0.3s;
}

input[type="password"] {
    font-family: Arial, sans-serif;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: #adadad solid 0.1mm;
    border-radius: 3px;
    background-color: #f8f7f7;
    transition: all ease-in-out 0.3s;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
    position: absolute;
    top: 10px;
    font-weight: 500;
    font-size: 13px;
    transition: all ease-in-out 0.3s;
}

input[type="text"]:focus-visible,
input[type="password"]:focus-visible,
textarea:focus-visible {
    border-radius: 10px;
    border-bottom: solid #010101 2px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.212);
    outline: none;
}

input[type="text"]:focus::placeholder,
input[type="password"]:focus::placeholder,
textarea:focus::placeholder {
    color: #010101;
    top: 3px;
    font-size: 11px;
}

button[type="submit"] {
    width: 100%;
    max-width: 300px;
    height: 40px;
    cursor: pointer;
    border: solid #979797 1px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #009688; /* Change the button color */
    transition: all ease-in-out 0.2s;
}

button[type="submit"]:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.212);
    background-color: #007b6e; /* Change the hover color */
}
