body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #009688;
    color: #fff;
    padding: 20px;
    text-align: center;
}

form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
}

h2 {
    color: #009688;
    font-size: 1.5em;
}

p {
    margin: 5px 0;
}

button, .logout-button {
    background-color: #009688;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover, .logout-button:hover {
    background-color: #007366; /* Change the color when hovered over */
}

.bold-label {
    font-weight: bold;
}

.label {
    display: inline-block;
    width: 150px; /* Adjust this width as needed */
    text-align: right;
    margin-right: 10px; /* Adjust this margin as needed for spacing */
}

.value {
    display: inline-block;
}

.logout-button {
    display: block;
    margin: 0 auto; /* Center the button horizontally */
}

.transparent-form {
    background-color: transparent; /* Make the background transparent */
}
