<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Payment</title>
    <link rel="stylesheet" type="text/css" th:href="@{/payment.css}">
</head>
<body>
    <h1>Payment Info</h1>
    
    <p>Program Code: <span th:text="${program.programCode}"></span></p>
	<p>Program Name: <span th:text="${program.programName}"></span></p>
	<p>Duration: <span th:text="${program.duration}"></span> semesters</p>
	<p>Tuition Fee: $<span th:text="${program.fee}"></span></p>
    <form th:action="@{'/payment/' + ${studentId}}" method="post">
		<label>Credit Card:</label>
		<input type="text" value="4500123443210000" id="creditCard" required><br>
		<label>Security Code:</label>
		<input type="text" value="123" id="securityCode" required><br>
		<label>Amount: $</label>
		<input type="text" th:value="${program.fee}" id="amountPaid" name="amountPaid" required><br>
		
		<input type="hidden" name="programCode" th:value="${program.programCode}">
		<input type="hidden" name="startDate" th:value="2024-01-08">
		<input type="hidden" name="status" th:value="true">
		<input type="hidden" name="studentId" th:value="${studentId}">
		
		<button type="submit">Pay Now</button>
	</form>
</body>
</html>
